syntax: glob
Code/_ReSharper.TechCraft/*
Code/_ReSharper.Worlds/*
*.exe
*.pdb
*.ReSharper.user
Code/Worlds/Worlds/bin/x86/Debug/*.dll
Code/Worlds.sln.DotSettings.user
Code/Worlds/Worlds/obj/x86/Debug/*
Code/Worlds/WorldsContent/obj/x86/Debug/*
Code/Worlds.suo
Code/Worlds/Worlds/bin/x86/Debug/*
version.txt.orig
*.orig
Code/_UpgradeReport_Files/*
Code/LibNoise.Xna/bin/x86/Debug/*
Code/LibNoise.Xna/bin/x86/Release/*
Code/LibNoise.Xna/bin/Xbox 360/Debug/*
Code/LibNoise.Xna/bin/Xbox 360/Release/*
Code/LibNoise.Xna/bin/Zune/Debug/*
Code/LibNoise.Xna/bin/Zune/Release/*
*.cachefile
Code/LibNoise.Xna/obj/x86/Debug*
Code/UpgradeLog.XML
Code/Worlds.sln.docstates.suo
Code/LibNoise.Xna/obj/x86/Release/*
Code/Worlds/Worlds/bin/x86/Release/*
Code/Worlds/Worlds/obj/x86/Release/*
Code/Worlds/WorldsContent/obj/x86/Release/*
Code/WorldsLib/obj/Debug/*
Code/WorldsLib/bin/Debug/*
Code/Vendors/Nuclex/framework/_ReSharper.Framework (xna-4.0-x86)/*
Code/Vendors/Nuclex/framework/Nuclex.Game/bin/xna-4.0-x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Fonts.Content.TrueTypeImporter/bin/xna-4.0-x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Fonts.Content.TrueTypeImporter/bin/xna-4.0-x86/Release/*
Code/Vendors/Nuclex/framework/Nuclex.UserInterface/bin/xna-4.0-x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Fonts/obj/x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Graphics.SpecialEffects/EmbeddedContent/obj/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Graphics.SpecialEffects/bin/xna-4.0-x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Fonts/bin/xna-4.0-x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Game.ContentCompressor/bin/net-4.0/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Game/obj/x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Game/EmbeddedContent/obj/x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Fonts/EmbeddedContent/obj/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Fonts/EmbeddedContent/obj/x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.UserInterface/obj/x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Graphics.SpecialEffects/obj/x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Geometry/bin/xna-4.0-x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Game/EmbeddedContent/obj/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Graphics/bin/xna-4.0-x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Geometry/obj/x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Graphics.SpecialEffects/EmbeddedContent/obj/x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Graphics/obj/x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Graphics/EmbeddedContent/obj/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Game.ContentCompressor/obj/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Testing.Xna/bin/xna-4.0-x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Input/bin/xna-4.0-x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Graphics/EmbeddedContent/obj/x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Input/obj/x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.Testing.Xna/obj/x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.UserInterface/EmbeddedContent/obj/x86/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.UserInterface/EmbeddedContent/obj/Debug/*
Code/Vendors/Nuclex/framework/Nuclex.UserInterface/obj/x86/Release/*
Code/Vendors/Nuclex/framework/Nuclex.Fonts/bin/xna-4.0-x86/Release/*
Code/Vendors/Nuclex/framework/Nuclex.Fonts/obj/x86/Release/*
Code/Vendors/Nuclex/framework/Nuclex.Game/bin/*
Code/Vendors/Nuclex/framework/Nuclex.Game/obj/*
Code/Vendors/Nuclex/framework/Nuclex.Geometry/bin/*
Code/Vendors/Nuclex/framework/Nuclex.Graphics.SpecialEffects/obj/*
Code/Vendors/Nuclex/framework/Nuclex.Graphics.SpecialEffects/bin/*
Code/Vendors/Nuclex/framework/Nuclex.Graphics/obj/*
Code/Vendors/Nuclex/framework/Nuclex.Game.ContentCompressor/obj/*
.hg/*
Code/Vendors/Nuclex/framework/Nuclex.Graphics/bin/*
Code/Vendors/Nuclex/framework/Nuclex.Graphics.SpecialEffects/EmbeddedContent/obj/*
Code/Vendors/Nuclex/framework/Nuclex.Game.ContentCompressor/bin/*
Code/Vendors/Nuclex/framework/Nuclex.Game/EmbeddedContent/obj/*
Code/Vendors/Nuclex/framework/Nuclex.Testing.Xna/obj/*
Code/Vendors/Nuclex/framework/Nuclex.Input/bin/*
Code/Vendors/Nuclex/framework/Nuclex.Testing.Xna/bin/*
Code/Vendors/Nuclex/framework/Nuclex.Geometry/obj/*
Code/Vendors/Nuclex/framework/Nuclex.UserInterface/bin/*
Code/Vendors/Nuclex/framework/Nuclex.Graphics/EmbeddedContent/obj/*
Code/Vendors/Nuclex/framework/Nuclex.Input/obj/*
Code/Vendors/Nuclex/framework/Nuclex.Fonts/EmbeddedContent/obj/*
Code/Vendors/Nuclex/framework/Nuclex.UserInterface/EmbeddedContent/obj/*
Code/Vendors/Nuclex/framework/Framework (xna-4.0-x86).sln.docstates.suo
Code/Vendors/Nuclex/framework/Nuclex.Fonts/bin/*
Code/Vendors/Nuclex/framework/Nuclex.Fonts.Content.TrueTypeImporter/_ReSharper.Nuclex.Fonts.Content.TrueTypeImporter (xna-4.0-x86)/*
Code/WorldsServer/bin/Debug/*
Code/WorldsServer/obj/*
Code/WorldsLib/bin/*
Code/WorldsLib/obj/*
Code/WorldsServer/bin/*
Code/Worlds/Worlds/bin/*
Code/Lidgren.Network/obj/*
Code/Lidgren.Network/bin/*
Code/XNAGameConsole/bin/*
Code/XNAGameConsole/Content/obj/*
Code/XNAGameConsole/obj/*
Code/ConsoleContent/obj/*
Models/*.blend1
Code/Nuclex.UserInterface/obj/x86/Debug/*
Code/Nuclex.UserInterface/bin/xna-4.0-x86/Debug/*
Code/Weighted Randomizer/obj/*
Code/Weighted Randomizer/bin/*
